/* Partie kakimasu */
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#logo {
	background-image: url("../images/logo.png");
	background-size: 100% 100%;
	position: absolute;
	top: 20%;
	height: 80%;
	width: 30%;
}

#shadow {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: gray;
	opacity: 0.6;
}

#startRound {
	display: none;
	width: 100%;
	height: 100%;
}

#startRound p {
	position: absolute;
	left: 30%;
	top: 10%;
	z-index: 2;
	font-size: 40px;
	font-size: 2.5vmax;
	font-weight: bold;
	font-style: italic;
}

#syllabe1 {
	position: absolute;
	width: 25%;
	height: 25%;
	left: 10%;
	top: 25%;
	z-index: 2;
	border-radius: 10px;
	border: solid 3px #000;
	background-color: PeachPuff;
}

#syllabe1 p {
	text-align: center;
	font-size: 80px;
	font-size: 5.5vmax;
	font-weight: bold;
	font-style: italic;
}

#syllabe2 {
	position: absolute;
	width: 25%;
	height: 25%;
	left: 40%;
	top: 25%;
	z-index: 2;
	border-radius: 10px;
	border: solid 3px #000;
	background-color: PeachPuff;
}

#syllabe2 p {
	text-align: center;
	font-size: 80px;
	font-size: 5.5vmax;
	font-weight: bold;
	font-style: italic;
}

#syllabe3 {
	position: absolute;
	width: 25%;
	height: 25%;
	left: 70%;
	top: 25%;
	z-index: 2;
	border-radius: 10px;
	border: solid 3px #000;
	background-color: PeachPuff;
}

#syllabe3 p {
	text-align: center;
	font-size: 80px;
	font-size: 5.5vmax;
	font-weight: bold;
	font-style: italic;
}

header {
	position: absolute;
	left: 1%;
	height: 15%;
	width: 98%;
	background-color: beige;
}

aside {
	position: absolute;
	top: 15%;
	left: 1%;
	height: 70%;
	width: 19%;
	font-size: 40px;
	background-color: PeachPuff;
}

aside div {
	font-size: 20px;
	font-size: 2.0vmax;
}

main {
	position: absolute;
	top: 15%;
	left: 20%;
	height: 70%;
	width: 50%;
	background-color: white;
}

section {
	position: absolute;
	top: 15%;
	left: 70%;
	height: 63%;
	width: 29%;
	background-color: PeachPuff;
	overflow: scroll;
}

section #chat {
	font-size: 16px;
	font-size: 1.2vmax;
}

footer {
	position: absolute;
	top: 85%;
	left: 1%;
	height: 15%;
	width: 98%;
	background-color: beige;
}

#mot {
	position: absolute;
	bottom: -1%;
	left: 65%;
	height: 45%;
	width: 5%;
	border-radius: 10px;
	border: solid 3px #000;
	background-color: PeachPuff;
}

#mot p {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	font-size: 2.5vmax;
	font-weight: bold;
	font-style: italic;	
}

#toolbox {
	position: absolute;
	bottom: 0;
	height: 10%;
	width: 100%;
	background-color: gray;	
}

#gomme {
	display: none;
}

#trait {
	display: none;
}

label {
	border:1px solid gray;
	display: inline-block;
}

#toolbox label[for=trait] {
	position: absolute;
	top: 20%;
	left: 2%;
	height: 60%;
	width: 5%;
	background-image: url("../images/icone-pinceau.png");
	background-size: 100% 100%;
}

#toolbox label[for=gomme] {
	position: absolute;
	top: 20%;
	left: 10%;
	height: 60%;
	width: 5%;
	background-image: url("../images/icone-gomme.png");
	background-size: 100% 100%;
}

#toolbox input[type=range] {
	position: absolute;
	top: 20%;
	left: 30%;
	height: 60%;
	width: 30%;
}

#toolbox input:checked + label[for] {
	box-shadow: blue 0 0 5px;
}  

#clear {
	position: absolute;
	top: 20%;
	left: 90%;
	height: 60%;
	width: 5%;
	background-image: url("../images/icone-supprimer.png");
	background-color: white;
	background-size: 100% 100%;
	border: solid 1px #000;
}

#help {
	position: absolute;
	top: 20%;
	left: 80%;
	height: 60%;
	width: 5%;
	background-image: url("../images/icone-help.png");
	background-color: white;
	background-size: 100% 100%;
	border: solid 1px #000;
}

#chat {
	position: absolute;
	bottom: 15%;
	left: 70%;
	height: 7%;
	width: 29%;

	background-color: PeachPuff;
}

#chat #monMessage {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-size: 1.2vmax;
}

#content {
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;
	background-color: white;
}

#content canvas {
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	cursor: none;
	border: solid 1px #000;
}
#content canvas#overlay {
	
}
#content canvas#dessin {
	opacity: 0.8;
}

/* Partie Accueil */
#options {
	position: absolute;
	top: 15%;
	left: 1%;
	height: 70%;
	width: 98%;
	background-color: beige;
}

#form {
	position: absolute;
	top: 0;
	left: 40%;
	height: 100%;
	width: 100%;
}

#deconnexion {
	display: none;
	position: absolute;
	top: 0;
	left: 98%;
	height: 30%;
	width: 2%;
	background-image: url("../images/deconnexion.png");
	background-color: white;
	background-size: 100% 100%;
	border: solid 1px #000;
}

#avatarCanvas {
	display: none;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0; 
	left: 0;
	z-index: 1;
	cursor: none;
	border: solid 1px #000;
}

#deconnexion:hover {
	
}

#pseudo {
	position: absolute;
	left: 5%;
	top: 0;
	width: 25%;
}

#idJoin {
	position: absolute;
	left: 5%;
	top: 10%;
	width: 25%;
}

#avatar {
	position: absolute;
	left: 10%;
	top: 10%;
	height: 45%;
	width: 15%;
}

#flecheD1 {
	position: absolute;
	left: 100%;
	top: 0;
	height: 20%;
	width: 20%;
	background-image: url("../images/fleche.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#flecheD2 {
	position: absolute;
	left: 100%;
	top: 20%;
	height: 20%;
	width: 20%;
	background-image: url("../images/fleche.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#flecheD3 {
	position: absolute;
	left: 100%;
	top: 40%;
	height: 20%;
	width: 20%;
	background-image: url("../images/fleche.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#flecheD4 {
	position: absolute;
	left: 100%;
	top: 60%;
	height: 20%;
	width: 20%;
	background-image: url("../images/fleche.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#flecheD5 {
	position: absolute;
	left: 100%;
	top: 80%;
	height: 20%;
	width: 20%;
	background-image: url("../images/fleche.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#flecheG1 {
	position: absolute;
	left: -20%;
	top: 0;
	height: 20%;
	width: 20%;
	background-image: url("../images/fleche.png");
	transform: rotate(180deg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#flecheG2 {
	position: absolute;
	left: -20%;
	top: 20%;
	height: 20%;
	width: 20%;
	background-image: url("../images/fleche.png");
	transform: rotate(180deg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#flecheG3 {
	position: absolute;
	left: -20%;
	top: 40%;
	height: 20%;
	width: 20%;
	background-image: url("../images/fleche.png");
	transform: rotate(180deg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#flecheG4 {
	position: absolute;
	left: -20%;
	top: 60%;
	height: 20%;
	width: 20%;
	background-image: url("../images/fleche.png");
	transform: rotate(180deg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#flecheG5 {
	position: absolute;
	left: -20%;
	top: 80%;
	height: 20%;
	width: 20%;
	background-image: url("../images/fleche.png");
	transform: rotate(180deg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#colors {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url("../images/avatar/color/1.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#hairs {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url("../images/avatar/hair/1.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#faces {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url("../images/avatar/faces/1.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#eyes {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url("../images/avatar/eyes/1.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#beard {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url("../images/avatar/beard/1.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#choixAlphabet {
	position: absolute;
	left: 10%;
	top: 55%;
}

.col-md-3 {
	position: absolute;
	left: 5%;
	top: 70%;
}

#suffixes {
	position: absolute;
	left: 10%;
	top: 7%;
}

#prefixes {
	position: absolute;
	left: 10%;
	top: 20%;
}

.col-md-12 {
	position: absolute;
	left: 0;
	top: 90%;
}



#textPseudo {
	display: none;
	position: absolute;
	top: 50%;
	left: 30%;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

.btn {
  border-radius: 0;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn-inline {
  margin-top: 0;
}

.btn-retour {
  color: #333;
}

.badge-success {
  background: #22DDAA;
}
